{% extends 'dashboard.html' %}

{% block content %}
  <h2>Add Expense</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
      <label class="form-label" for="{{ form.category.auto_id }}">{{ form.category.label }}</label>
      {{ form.category }}
    </div>
    <div class="mb-3">
        {{ form.description.label_tag }} {{ form.description }}
    </div>
    <div class="mb-3">
        {{ form.amount.label_tag }} {{ form.amount }}
    </div>
    <div class="mb-3">
        {{ form.date_created.label_tag }} {{ form.date_created }}
    </div>
    <div class="mb-3">
        {{ form.notes.label_tag }} {{ form.notes }}
    </div>
    <div class="mb-3">
        <label class="form-label">{{ form.receipt.label }}</label>
        {{ form.receipt }}
    </div>
    <div class="mb-3">
        {{ form.vendor.label_tag }} {{ form.vendor }}
    </div>
    <button type="submit" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Add Expense</button>
  </form>
<footer class="footer position-absolute">
  <div class="row g-0 justify-content-between align-items-center h-100">
    <div class="col-12 col-sm-auto text-center">
      <p class="mb-0 mt-2 mt-sm-0 text-900">Thank you for creating with Phoenix<span class="d-none d-sm-inline-block"></span><span class="d-none d-sm-inline-block mx-1">|</span><br class="d-sm-none" />2023 &copy;<a class="mx-1" href="https://themewagon.com">Themewagon</a></p>
    </div>
    <div class="col-12 col-sm-auto text-center">
      <p class="mb-0 text-600">v1.10.0</p>
    </div>
  </div>
</footer>
{% endblock %}
