{% load widget_tweaks %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.2.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.2.3/js/bootstrap.min.js"></script>
</head>

<div class="modal fade" id="addDealModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addDealModal" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content bg-100 p-6">
      <div class="modal-header border-0 p-0 mb-2">
        <h3 class="mb-0">Invoice Information</h3>
        <button class="btn btn-sm btn-phoenix-secondary" data-bs-dismiss="modal" aria-label="Close"><span class="fas fa-times text-danger"></span></button>
      </div>
      <div class="modal-body px-0">
        <div class="row g-4">
          <div class="col-lg-12">
             <form method="post" action="{% url 'smeApp:create_invoice' %}" class="row g-3 mb-6">
              {% csrf_token %}
              <input type="hidden" name="invoiceitem_set-TOTAL_FORMS" id="id_invoiceitem_set-TOTAL_FORMS" value="{{ invoice_item_formset.total_form_count }}">
              <input type="hidden" name="invoiceitem_set-INITIAL_FORMS" id="id_invoiceitem_set-INITIAL_FORMS" value="{{ invoice_item_formset.initial_form_count }}">
              <input type="hidden" name="invoiceitem_set-MIN_NUM_FORMS" id="id_invoiceitem_set-MIN_NUM_FORMS" value="{{ invoice_item_formset.min_num }}">
              <input type="hidden" name="invoiceitem_set-MAX_NUM_FORMS" id="id_invoiceitem_set-MAX_NUM_FORMS" value="{{ invoice_item_formset.max_num }}">

              {% for field in invoice_form %}
                <div class="col-md-6 gy-6">
                  <div class="form-floating">
                    {% if field.field.widget.input_type == 'select' %}
                      <select class="form-select" name="{{ field.html_name }}" id="{{ field.auto_id }}">
                        {% for choice in field.field.choices %}
                          <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                        {% endfor %}
                      </select>
                    {% elif field.name == 'invoice_date' or field.name == 'due_date' %}
                      <input class="form-control flatpickr-date" type="text" name="{{ field.html_name }}" id="{{ field.auto_id }}" placeholder="{{ field.label }}">
                    {% else %}
                      <input class="form-control" type="{{ field.field.widget.input_type }}" name="{{ field.html_name }}" id="{{ field.auto_id }}" placeholder="{{ field.label }}">
                    {% endif %}
                    <label for="{{ field.auto_id }}">{{ field.label }}</label>
                  </div>
                </div>
              {% endfor %}
              <!-- </div> -->
              <div id="form-set">
                {{ invoice_item_formset.management_form }}
                {% for form in invoice_item_formset %}
  <div class="form-inline">
    <div class="row gy-3" style="margin-top: 1px;">
      <div class="col-md-3">
        <div class="form-floating">
          {{ form.item_name|add_class:"form-control" }}
          <label for="{{ form.item_name.id_for_label }}">Item Name</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-floating">
          {{ form.item_description|add_class:"form-control" }}
          <label for="{{ form.item_description.id_for_label }}">Description</label>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-floating">
          {{ form.quantity|add_class:"form-control" }}
          <label for="{{ form.quantity.id_for_label }}">Quantity</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-floating">
          {{ form.unit_price|add_class:"form-control" }}
          <label for="{{ form.unit_price.id_for_label }}">Unit Price</label>
        </div>
      </div>
      <div class="col-md-1">
        <button type="button" class="btn btn-danger delete-item">
          <i class="fas fa-trash"></i>
        </button>
      </div>
    </div>
  </div>
{% endfor %}
          </div>

          <div class="col-12 gy-6">
              <button type="button" id="add-item" class="btn btn-light border">
                  <i class="fas fa-plus"></i> Add Item
              </button>
              <button type="submit" class="btn btn-light border">
                  <i class="fas fa-file-invoice"></i> Create Invoice
              </button>
          </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <script>
    flatpickr(".flatpickr-date", {
      dateFormat: "Y-m-d",
      disableMobile: true
    });

    let formIdx = $('#id_invoiceitem_set-TOTAL_FORMS').val();
    console.log("Initial formIdx value: " + formIdx);

    $('#add-item').click(function() {
      console.log("Add item button clicked");

      const formElem = $('#form-set .form-inline:last').clone(true);
      console.log("Form element cloned: ", formElem);

      formElem.find(':input[name]').each(function() {
        let name = $(this).attr('name').replace('-' + (formIdx - 1) + '-', '-' + formIdx + '-');
        let id = 'id_' + name;
        $(this).attr({'name': name, 'id': id}).val('');
      });
      formElem.find('label').each(function() {
        let currentFor = $(this).attr('for');
        let newFor = currentFor.replace('-' + (formIdx - 1) + '-', '-' + formIdx + '-');
        $(this).attr('for', newFor);
      });
      // Remove previous event handler and re-attach it to the new delete button
      formElem.find('.delete-item').off('click').on('click', function() {
        $(this).closest('.form-inline').remove();

        let currentForms = parseInt($('#id_invoiceitem_set-TOTAL_FORMS').val());
        $('#id_invoiceitem_set-TOTAL_FORMS').val(currentForms - 1);
      });

      $('#form-set').append(formElem);
  console.log("Form element appended: ", formElem);
      $('.form-inline:last').after(formElem);
      $('#id_invoiceitem_set-TOTAL_FORMS').val(parseInt(formIdx) + 1);
      formIdx++;
    });
  </script>
