{% extends 'dashboard.html' %}
{% load static %}

{% block content %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.2.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.2.3/js/bootstrap.min.js"></script>
  <style>
       .btn-chart {
        background-color: #ccc;
        color: #333;
        transition: background-color 0.3s;
       }

       .btn-chart:hover {
        background-color: #aaa;
        color: #222;
        text-decoration: none;
       }

       .btn-custom {
         border-radius: 15px;
         background: linear-gradient(135deg, #1e9ff2 0%, #3c96ff 100%);
         color: #ffffff;
         box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
         transition: all 0.3s;
       }

       .btn-custom:hover {
         box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
         transform: translateY(-2px);
       }

       .btn-text {
         display: inline;
       }

       .fa-camera {
         transform: translateY(0px);
         transform: translateX(4px);
       }
       .fa-plus {
         transform: translateY(0px);
         transform: translateX(4px);
       }

       .btn-custom .fas,
       .btn-custom .fa-solid {
         vertical-align: middle;
       }

       @media (max-width: 576px) {
        .btn-chart {
          font-size: 0.8rem;
          padding: 0.25rem 0.5rem;
        }
       }

       @media (max-width: 767px) {
         .mobile-hide {
           display: none;
         }
         .btn-text {
           display: none;
         }

         .btn-custom {
           padding: 12px 16px;
           margin:
         }
       }
</style>
</head>

<nav class="mb-2" aria-label="breadcrumb">
<ol class="breadcrumb mb-0">
  <div class="mb-3" id="editDeleteButtons" style="display:none;">
      <button id="editExpense" class="btn btn-phoenix-secondary px-3 px-sm-5 me-2">
          <span class="fa-solid fa-edit me-sm-2"></span><span class="d-none d-sm-inline">Edit</span>
      </button>
      <button id="deleteExpense" class="btn btn-phoenix-danger me-2">
          <span class="fa-solid fa-trash me-2"></span>
      </button>
  </div>
</ol>
</nav>
     <div class="row gx-6 gy-3 mb-4 align-items-center">
       <div class="col-auto">
         <h2 class="mb-0">Products <span class="fw-normal text-700 ms-3">({{stock_items|length }})</span></h2>
       </div>

       <div class="mb-3">
         <a href="{% url 'smeApp:add_expense' %}">
           <button class="btn btn-custom me-4">
             <span class="fas fa-plus me-2"></span>
             <span class="btn-text">Add Products</span>
           </button>
         </a>
       </div>
     </div>
     <div class="row justify-content-between align-items-end mb-4 g-3">

     <div class="row justify-content-between align-items-end mb-4 g-3">
       <div class="col-12 col-sm-auto">

       </div>
       <div class="col-12 col-sm-auto">
         <div class="d-flex align-items-center">
           <div class="search-box me-3">
             <form class="position-relative" data-bs-toggle="search" data-bs-display="static">
               <input class="form-control search-input search" type="search" placeholder="Search projects" aria-label="Search" />
               <span class="fas fa-search search-box-icon"></span>
             </form>
           </div>
            <a class="btn btn-phoenix-primary px-3 me-1 border-0 text-900 toggle-list-view" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="List view">
              <span class="fa-solid fa-list fs--2"></span>
            </a>
            <a class="btn btn-phoenix-primary px-3 me-1 toggle-card-view" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Card view">
              <svg width="9" height="9" viewbox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0.5C0 0.223857 0.223858 0 0.5 0H1.83333C2.10948 0 2.33333 0.223858 2.33333 0.5V1.83333C2.33333 2.10948 2.10948 2.33333 1.83333 2.33333H0.5C0.223857 2.33333 0 2.10948 0 1.83333V0.5Z" fill="currentColor"></path>
                <path d="M3.33333 0.5C3.33333 0.223857 3.55719 0 3.83333 0H5.16667C5.44281 0 5.66667 0.223858 5.66667 0.5V1.83333C5.66667 2.10948 5.44281 2.33333 5.16667 2.33333H3.83333C3.55719 2.33333 3.33333 2.10948 3.33333 1.83333V0.5Z" fill="currentColor"></path>
                <path d="M6.66667 0.5C6.66667 0.223857 6.89052 0 7.16667 0H8.5C8.77614 0 9 0.223858 9 0.5V1.83333C9 2.10948 8.77614 2.33333 8.5 2.33333H7.16667C6.89052 2.33333 6.66667 2.10948 6.66667 1.83333V0.5Z" fill="currentColor"></path>
                <path d="M0 3.83333C0 3.55719 0.223858 3.33333 0.5 3.33333H1.83333C2.10948 3.33333 2.33333 3.55719 2.33333 3.83333V5.16667C2.33333 5.44281 2.10948 5.66667 1.83333 5.66667H0.5C0.223857 5.66667 0 5.44281 0 5.16667V3.83333Z" fill="currentColor"></path>
                <path d="M3.33333 3.83333C3.33333 3.55719 3.55719 3.33333 3.83333 3.33333H5.16667C5.44281 3.33333 5.66667 3.55719 5.66667 3.83333V5.16667C5.66667 5.44281 5.44281 5.66667 5.16667 5.66667H3.83333C3.55719 5.66667 3.33333 5.44281 3.33333 5.16667V3.83333Z" fill="currentColor"></path>
                <path d="M6.66667 3.83333C6.66667 3.55719 6.89052 3.33333 7.16667 3.33333H8.5C8.77614 3.33333 9 3.55719 9 3.83333V5.16667C9 5.44281 8.77614 5.66667 8.5 5.66667H7.16667C6.89052 5.66667 6.66667 5.44281 6.66667 5.16667V3.83333Z" fill="currentColor"></path>
                <path d="M0 7.16667C0 6.89052 0.223858 6.66667 0.5 6.66667H1.83333C2.10948 6.66667 2.33333 6.89052 2.33333 7.16667V8.5C2.33333 8.77614 2.10948 9 1.83333 9H0.5C0.223857 9 0 8.77614 0 8.5V7.16667Z" fill="currentColor"></path>
                <path d="M3.33333 7.16667C3.33333 6.89052 3.55719 6.66667 3.83333 6.66667H5.16667C5.44281 6.66667 5.66667 6.89052 5.66667 7.16667V8.5C5.66667 8.77614 5.44281 9 5.16667 9H3.83333C3.55719 9 3.33333 8.77614 3.33333 8.5V7.16667Z" fill="currentColor"></path>
                <path d="M6.66667 7.16667C6.66667 6.89052 6.89052 6.66667 7.16667 6.66667H8.5C8.77614 6.66667 9 6.89052 9 7.16667V8.5C9 8.77614 8.77614 9 8.5 9H7.16667C6.89052 9 6.66667 8.77614 6.66667 8.5V7.16667Z" fill="currentColor"></path>
              </svg></a><button class="btn px-3 btn-phoenix-secondary" type="button" data-bs-toggle="modal" data-bs-target="#filterModal" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fa-solid fa-filter text-primary" data-fa-transform="down-3"></span></button>
         </div>
       </div>
     </div>
     </div>
     <!-- List View -->
    <div class="mx-n4 px-4 mx-lg-n6 px-lg-6 bg-white border-top border-bottom border-200 position-relative top-1">
      <div class="table-responsive scrollbar mx-n1 px-1">
        <table class="table fs--1 mb-0">
          <thead>
            <tr>
              <th class="white-space-nowrap fs--1 align-middle ps-0 d-none d-md-table-cell" style="max-width:20px; width:18px;">
                <div class="form-check mb-0 fs-0">
                  <input class="form-check-input" id="checkbox-bulk-products-select" type="checkbox" data-bulk-select='{"body":"products-table-body"}' />
                </div>
              </th>
              <th class="sort white-space-nowrap align-middle fs--2 d-none d-md-table-cell" scope="col" style="width:70px;"></th>
              <th class="sort white-space-nowrap align-middle ps-4 d-none d-md-table-cell" scope="col" style="width:350px;" data-sort="product">PRODUCT NAME</th>
              <th class="sort align-middle text-end ps-4 d-none d-md-table-cell" scope="col" data-sort="price" style="width:150px;">PRICE</th>
              <th class="sort align-middle ps-4 d-none d-md-table-cell" scope="col" data-sort="category" style="width:150px;">CATEGORY</th>
              <th class="sort align-middle ps-3 d-none d-md-table-cell" scope="col" data-sort="tags" style="width:250px;">DESCRIPTION</th>
              <th class="sort align-middle ps-4 d-none d-md-table-cell" scope="col" data-sort="time" style="width:125px;">QUANTITY</th>
              <th class="sort align-middle ps-4 d-none d-md-table-cell" scope="col" data-sort="vendor" style="width:200px;">SUPPLIER</th>
              <th class="sort align-middle ps-4 d-none d-md-table-cell" scope="col" data-sort="time" style="width:50px;">PRODUCT ID</th>
              <th class="sort text-end align-middle pe-0 ps-4 d-none d-md-table-cell" scope="col"></th>
            </tr>
          </thead>
          <tbody class="list" id="products-table-body">
          {% for stock_item in stock_items %}
            <tr class="position-static">
              <td class="fs--1 align-middle d-none d-md-table-cell">
                <div class="form-check mb-0 fs-0">
                  <input class="form-check-input" type="checkbox" data-bulk-select-row='{"product":"Fitbit Sense Advanced Smartwatch with Tools for Heart Health, Stress Management & Skin Temperature Trends, Carbon/Graphite, One Size (S & L Bands...","productImage":"/products/1.png","price":"$39","category":"Plants","tags":["Health","Exercise","Discipline","Lifestyle","Fitness"],"star":false,"vendor":"Blue Olive Plant sellers. Inc","publishedOn":"Nov 12, 10:45 PM"}' />
                </div>
              </td>
              <td class="align-middle white-space-nowrap py-0">
              <div class="border rounded-2 d-flex justify-content-center align-items-center" style="width: 54px; height: 54px;">
                {% if stock_item.image %}
                <img src="{{ stock_item.image.url }}" alt="{{ stock_item.name }}" width="53" />
                {% else %}
                <img src="{% static 'assets/img/products/placeholder.png' %}" alt="{{ stock_item.name }}" width="53" />
                {% endif %}
              </div>
            </td>
            <a href="#!" style="text-decoration: none; color: inherit;">
              <td style="padding:10px;">
              <div class="d-md-none">
                <div class="d-flex flex-column align-items-start" style="width: 100%; min-width: 280px; max-width: 90%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                  <div class="mb-1" style="font-size: 1.01rem; font-weight: 700;">{{ stock_item.name|truncatechars:33 }}</div>
                  <div class="d-flex justify-content-between w-100 mb-2">
                    <div class="fs--1" style="font-weight: 600; color: #777;">
                     {{ stock_item.supplier.name }}
                    </div>
                    <div class="fs--1" style="font-weight: 600; color: #777;">
                      ${{ stock_item.unit_selling_price }}
                    </div>
                  </div>
                  <div class="d-flex justify-content-between w-100 mb-1">
                  <div class="fs--1" style="font-weight: 600; color: #777;">
                    {{ stock_item.quantity }}
                  </div>
                  <div class="fs--1" style="font-weight: 600; color: #777;">
                      {{ stock_item.item_id }}
                    </div>
                </div>
                </div>
              </div>
              <div class="d-none d-md-block">
                <a class="fw-semi-bold line-clamp-3 mb-0" href="#!">{{ stock_item.name|truncatechars:33 }}</a>
              </div>
          </a>

              <td class="price align-middle white-space-nowrap text-end fw-bold text-700 ps-4 d-none d-md-table-cell">${{ stock_item.unit_selling_price }}</td>
              <td class="category align-middle white-space-nowrap text-600 fs--1 ps-4 fw-semi-bold d-none d-md-table-cell">{{ stock_item.product_type.name }}</td>
              <td class="tags align-middle review pb-2 ps-3 d-none d-md-table-cell" style="min-width:210px;">
              {{ stock_item.description|truncatechars:33 }}
              </td>
              <td class="align-middle review fs-0 text-center ps-4 d-none d-md-table-cell">
              {{ stock_item.quantity }}
              </td>
              <td class="vendor align-middle text-start fw-semi-bold ps-4 d-none d-md-table-cell"><a href="#!">{{ stock_item.supplier.name }}</a></td>
              <td class="time align-middle white-space-nowrap text-600 ps-4 d-none d-md-table-cell">{{ stock_item.item_id }}</td>
              <td class="align-middle white-space-nowrap text-end pe-0 ps-4 btn-reveal-trigger d-none d-md-table-cell">
                <div class="font-sans-serif btn-reveal-trigger position-static">

               <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs--2" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs--2"></span></button>
               <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">View</a><a class="dropdown-item" href="#!">Export</a>
                 <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="#!">Remove</a>
               </div>
             </div>
           </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="row align-items-center justify-content-between py-2 pe-0 fs--1 d-none d-md-table-cell">
        <div class="col-auto d-flex">
          <p class="mb-0 d-none d-sm-block me-3 fw-semi-bold text-900" data-list-info="data-list-info"></p><a class="fw-semi-bold" href="#!" data-list-view="*">View all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a class="fw-semi-bold d-none" href="#!" data-list-view="less">View Less<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
        </div>
        <div class="col-auto d-flex">
          <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
          <ul class="mb-0 pagination"></ul>
          <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
        </div>
      </div>
    </div>


  </div>
</div>
{% endblock %}
